.mian .menu-box .info[data-v-8cd483ca] {
    height: 4.2rem;
    background: -webkit-linear-gradient(left, #61a9ff 0%, #59b0ea 100%);
    background: linear-gradient(90deg, #61a9ff 0%, #59b0ea 100%);
    border-radius: 0 0 0.8rem 0.8rem;
    background: -webkit-linear-gradient(top, #ce0204 0%, #ff4f4b 100%);
    background: linear-gradient(180deg, #ce0204 0%, #ff4f4b 100%);
}

background: -w ebkit-linear-gradient(left, #61a9ff 0%, #59b0ea 100%);
background: linear-gradient(90deg, #61a9ff 0%, #59b0ea 100%);

background: -webkit-linear-gradient(top, #ce0204 0%, #ff4f4b 100%);
background: linear-gradient(180deg, #ce0204 0%, #ff4f4b 100%);



linear-gradient(90deg, #374992 0%, #4674d0 100%)
linear-gradient(180deg, #ce0204 0%, #ff4f4b 100%);

#2b3270
replace by
#ce0204