<div data-v-12a80a3e="" class="headLogo"
  style="background-image: url(&quot;https://ossimg.forpicStore777.top/rajalottery/other/h5setting_202401091624362vtf.png&quot;);">
</div>

background: -webkit-linear-gradient(left, #f10404 0%, #eb3535 100%);
background: linear-gradient(90deg, #f10404 0%, #eb3535 100%);
padding: .32rem;



<div data-v-6fc57c23="" class="win_item">
  <div data-v-6fc57c23="" class="left"><img data-v-6fc57c23="" alt="" data-img="/assets/png/avatar-ea3b8ee9.png"
      class="" data-origin="3" src="/assets/png/avatar-ea3b8ee9.png" style="object-fit: contain;"><span
      data-v-6fc57c23="">MemberUUOAMEYH</span></div>
  <div data-v-6fc57c23="" class="right">Winning amount₹39.20</div>
</div>




.win_item {
display: flex; /* Use flexbox for layout */
justify-content: space-between; /* Align children with space between */
align-items: center; /* Center items vertically */
padding: 10px; /* Example padding */
border: 1px solid #ccc; /* Example border */
margin-bottom: 10px; /* Example margin */
}

.win_item .left {
display: flex; /* Use flexbox for inner layout */
align-items: center; /* Center items vertically */
}

.win_item .left img {
width: 50px; /* Example width */
height: 50px; /* Example height */
object-fit: contain; /* Ensure the entire image fits within the specified dimensions */
margin-right: 10px; /* Example margin */
}

.win_item .right {
background-color: lightgray; /* Example background color */
padding: 5px 10px; /* Example padding */
font-weight: bold; /* Example font weight */
border: 1px solid darkgray; /* Example border */
}




<div data-v-6fc57c23="" class="win_item">
  <div data-v-6fc57c23="" class="left"><img data-v-6fc57c23="" alt="" data-img="/assets/png/avatar-ea3b8ee9.png"
      class="" data-origin="3" src="/assets/png/avatar-ea3b8ee9.png" style="object-fit: contain;"><span
      data-v-6fc57c23="">MemberUUOAMEYH</span></div>
  <div data-v-6fc57c23="" class="right">Winning amount₹39.20</div>
</div>

<div data-v-6fc57c23="" class="win_item">
  <div data-v-d256944b="" class="luckyWinners__container-wrapper__item-winType"><img data-v-d256944b=""
    class="ar-lazyload left " data-origin="/assetst/png/lotterycategory_202307140102511fow.png"
    src="/assetst/png/lotterycategory_202307140102511fow.png"></div>
    <div data-v-d256944b="" class="right luckyWinners__container-wrapper__item-winAmount">
      <h1 data-v-d256944b="">Receive ₹16.00</h1><span data-v-d256944b="">Winning
        amount</span>
    </div>
</div>

<div data-v-d256944b="" class="left luckyWinners__container-wrapper__item-winAmount">
  <h1 data-v-d256944b="">Receive ₹16.00</h1><span data-v-d256944b="">Winning
    amount</span>
</div>
<div data-v-d256944b="" class="right luckyWinners__container-wrapper__item-winAmount">
  <h1 data-v-d256944b="">Receive ₹16.00</h1><span data-v-d256944b="">Winning
    amount</span>
</div>

<div data-v-d256944b="" class="luckyWinners__container-wrapper__item-winType"><img data-v-d256944b=""
    class="ar-lazyload left " data-origin="/assetst/png/lotterycategory_202307140102511fow.png"
    src="/assetst/png/lotterycategory_202307140102511fow.png"></div>


<!-- 
    .navbar[data-v-106b99c8] {
      background: -webkit-linear-gradient(top, #ce0204 0%, #ff4f4b 100%);
      background: linear-gradient(90deg, #f10404 0%, #eb3535 100%);
      /* color: #fff */
    }

    .mian .bank .navbar-back[data-v-25d9c352],
    .mian .bank[data-v-25d9c352] {
      width: .69333rem;
      height: .69333rem
    } -->

    .navbar[data-v-106b99c8] {
      background: -webkit-linear-gradient(top, #ce0204 0%, #ff4f4b 100%);
      background: linear-gradient(90deg, #f10404 0%, #eb3535 100%);
      /* color: #fff */
    }