<div data-v-537dde41="" class="WinningTip__C-body isL">
    <div data-v-537dde41="" class="WinningTip__C-body-l1 isL">
      <div class="modal-header">
        <span id="myModal_header">Congratulations</span>
        <!-- <span class="close">&times;</span> -->
      </div>
    </div>
    <div data-v-537dde41="" class="WinningTip__C-body-l2 type6">
      <div data-v-537dde41="">
        <p id="lottery_result">Lottery Result:<span class="btn-boox">Green</span><span class="btn-boox">1</span><span class="btn-boox">Small</span></p>


      </div>
    </div>
    <div data-v-537dde41="" class="WinningTip__C-body-l3">
      <div data-v-537dde41="" class="isLose">
        <p id="myModal_result">WIN :18</p>
      </div>

      <div data-v-537dde41="" class="gameDetail">
        <p id="myModal_result_Period">Period : 1min 2024060051062</p>
      </div>
    </div>
    <div data-v-537dde41="" class="WinningTip__C-body-l4">
      
      <div data-v-537dde41="" class="acitveBtn"> </div>
     
    </div>
    <div data-v-537dde41="" class="closeBtn" onclick="closeModal()"></div>
  </div>


missningBg-9deda6ac.png
missningBg-9deda6ac.png